(edif clock_edge
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2006 1 11 3 15 34)
      (author "Synplicity, Inc.")
      (program "Synplify Pro" (version "8.1.0, Build 532R"))
     )
   )
  (library LUCENT
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell OB (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
    (cell IB (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
    (cell FD1S3AX (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port D (direction INPUT))
           (port CK (direction INPUT))
           (port Q (direction OUTPUT))
         )
       )
    )
    (cell ORCALUT4 (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
           (port D (direction INPUT))
           (port Z (direction OUTPUT))
         )
       )
    )
    (cell GSR (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port GSR (direction INPUT))
         )
       )
    )
    (cell INV (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port A (direction INPUT))
           (port Z (direction OUTPUT))
         )
       )
    )
    (cell VLO (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port Z (direction OUTPUT))
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell clock_edge (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port (array (rename cnt1 "cnt1[3:0]") 4) (direction OUTPUT))
           (port (array (rename cnt2 "cnt2[3:0]") 4) (direction OUTPUT))
           (port clk_50M (direction INPUT)
 )
           (port clk_100M (direction INPUT)
 )
           (port rst_ (direction INPUT)
 )
         )
         (contents
          (instance GND (viewRef PRIM (cellRef VLO (libraryRef LUCENT)))          )
          (instance cnt2_c_i_0 (viewRef PRIM (cellRef INV (libraryRef LUCENT)))          )
          (instance cnt_temp2_0__cnt_temp2_i_0 (viewRef PRIM (cellRef INV (libraryRef LUCENT)))          )
          (instance cnt_temp1_0__cnt_temp1_i_0 (viewRef PRIM (cellRef INV (libraryRef LUCENT)))          )
          (instance clk_50M_c_i (viewRef PRIM (cellRef INV (libraryRef LUCENT)))          )
          (instance un3_cnt_temp2_1_SUM3 (viewRef PRIM (cellRef ORCALUT4 (libraryRef LUCENT)))
           (property lut_function (string "(!D A+D (!C A+C (!B A+B !A)))"))
          )
          (instance un3_cnt_temp2_1_SUM2 (viewRef PRIM (cellRef ORCALUT4 (libraryRef LUCENT)))
           (property lut_function (string "(!C A+C (!B A+B !A))"))
          )
          (instance un3_cnt_temp2_1_SUM1 (viewRef PRIM (cellRef ORCALUT4 (libraryRef LUCENT)))
           (property lut_function (string "(!B A+B !A)"))
          )
          (instance un3_cnt_temp1_1_SUM3 (viewRef PRIM (cellRef ORCALUT4 (libraryRef LUCENT)))
           (property lut_function (string "(!D A+D (!C A+C (!B A+B !A)))"))
          )
          (instance un3_cnt_temp1_1_SUM2 (viewRef PRIM (cellRef ORCALUT4 (libraryRef LUCENT)))
           (property lut_function (string "(!C A+C (!B A+B !A))"))
          )
          (instance un3_cnt_temp1_1_SUM1 (viewRef PRIM (cellRef ORCALUT4 (libraryRef LUCENT)))
           (property lut_function (string "(!B A+B !A)"))
          )
          (instance cnt2_pad_3 (viewRef PRIM (cellRef OB (libraryRef LUCENT)))          )
          (instance cnt2_pad_2 (viewRef PRIM (cellRef OB (libraryRef LUCENT)))          )
          (instance cnt2_pad_1 (viewRef PRIM (cellRef OB (libraryRef LUCENT)))          )
          (instance cnt2_pad_0 (viewRef PRIM (cellRef OB (libraryRef LUCENT)))          )
          (instance cnt1_pad_3 (viewRef PRIM (cellRef OB (libraryRef LUCENT)))          )
          (instance cnt1_pad_2 (viewRef PRIM (cellRef OB (libraryRef LUCENT)))          )
          (instance cnt1_pad_1 (viewRef PRIM (cellRef OB (libraryRef LUCENT)))          )
          (instance cnt1_pad_0 (viewRef PRIM (cellRef OB (libraryRef LUCENT)))          )
          (instance rst__pad (viewRef PRIM (cellRef IB (libraryRef LUCENT)))          )
          (instance clk_100M_pad (viewRef PRIM (cellRef IB (libraryRef LUCENT)))          )
          (instance clk_50M_pad (viewRef PRIM (cellRef IB (libraryRef LUCENT)))          )
          (instance cnt_temp2_3__Q (viewRef PRIM (cellRef FD1S3AX (libraryRef LUCENT)))          )
          (instance cnt_temp2_2__Q (viewRef PRIM (cellRef FD1S3AX (libraryRef LUCENT)))          )
          (instance cnt_temp2_1__Q (viewRef PRIM (cellRef FD1S3AX (libraryRef LUCENT)))          )
          (instance cnt_temp2_0__Q (viewRef PRIM (cellRef FD1S3AX (libraryRef LUCENT)))          )
          (instance cnt_temp1_3__Q (viewRef PRIM (cellRef FD1S3AX (libraryRef LUCENT)))          )
          (instance cnt_temp1_2__Q (viewRef PRIM (cellRef FD1S3AX (libraryRef LUCENT)))          )
          (instance cnt_temp1_1__Q (viewRef PRIM (cellRef FD1S3AX (libraryRef LUCENT)))          )
          (instance cnt_temp1_0__Q (viewRef PRIM (cellRef FD1S3AX (libraryRef LUCENT)))          )
          (instance cnt2_3__Q (viewRef PRIM (cellRef FD1S3AX (libraryRef LUCENT)))          )
          (instance cnt2_2__Q (viewRef PRIM (cellRef FD1S3AX (libraryRef LUCENT)))          )
          (instance cnt2_1__Q (viewRef PRIM (cellRef FD1S3AX (libraryRef LUCENT)))          )
          (instance cnt2_0__Q (viewRef PRIM (cellRef FD1S3AX (libraryRef LUCENT)))          )
          (instance GSR (viewRef PRIM (cellRef GSR (libraryRef LUCENT)))
          )
          (instance cnt2_n3 (viewRef PRIM (cellRef ORCALUT4 (libraryRef LUCENT)))
           (property lut_function (string "(!D (C (B A))+D (!C+(!B+!A)))"))
          )
          (instance cnt2_n1 (viewRef PRIM (cellRef ORCALUT4 (libraryRef LUCENT)))
           (property lut_function (string "(!B A+B !A)"))
          )
          (instance cnt2_n2 (viewRef PRIM (cellRef ORCALUT4 (libraryRef LUCENT)))
           (property lut_function (string "(!C (B A)+C (!B+!A))"))
          )
          (instance cnt1Z0Z_3 (viewRef PRIM (cellRef ORCALUT4 (libraryRef LUCENT)))
           (property lut_function (string "(!C (B !A)+C (B+A))"))
          )
          (instance cnt1Z0Z_2 (viewRef PRIM (cellRef ORCALUT4 (libraryRef LUCENT)))
           (property lut_function (string "(!C (B !A)+C (B+A))"))
          )
          (instance cnt1Z0Z_1 (viewRef PRIM (cellRef ORCALUT4 (libraryRef LUCENT)))
           (property lut_function (string "(!C (B !A)+C (B+A))"))
          )
          (instance cnt1Z0Z_0 (viewRef PRIM (cellRef ORCALUT4 (libraryRef LUCENT)))
           (property lut_function (string "(!C (B !A)+C (B+A))"))
          )
          (net GNDZ0 (joined
           (portRef Z (instanceRef GND))
          ))
          (net cnt_temp2_0 (joined
           (portRef Q (instanceRef cnt_temp2_0__Q))
           (portRef A (instanceRef cnt_temp2_0__cnt_temp2_i_0))
           (portRef D (instanceRef un3_cnt_temp1_1_SUM3))
           (portRef C (instanceRef un3_cnt_temp1_1_SUM2))
           (portRef A (instanceRef un3_cnt_temp1_1_SUM1))
           (portRef C (instanceRef cnt1Z0Z_0))
          ))
          (net cnt_temp2_1 (joined
           (portRef Q (instanceRef cnt_temp2_1__Q))
           (portRef C (instanceRef un3_cnt_temp1_1_SUM3))
           (portRef B (instanceRef un3_cnt_temp1_1_SUM2))
           (portRef B (instanceRef un3_cnt_temp1_1_SUM1))
           (portRef C (instanceRef cnt1Z0Z_1))
          ))
          (net cnt_temp2_2 (joined
           (portRef Q (instanceRef cnt_temp2_2__Q))
           (portRef B (instanceRef un3_cnt_temp1_1_SUM3))
           (portRef A (instanceRef un3_cnt_temp1_1_SUM2))
           (portRef C (instanceRef cnt1Z0Z_2))
          ))
          (net cnt_temp2_3 (joined
           (portRef Q (instanceRef cnt_temp2_3__Q))
           (portRef A (instanceRef un3_cnt_temp1_1_SUM3))
           (portRef C (instanceRef cnt1Z0Z_3))
          ))
          (net cnt2_nZ0Z3 (joined
           (portRef Z (instanceRef cnt2_n3))
           (portRef D (instanceRef cnt2_3__Q))
          ))
          (net cnt_temp1_0 (joined
           (portRef Q (instanceRef cnt_temp1_0__Q))
           (portRef A (instanceRef cnt_temp1_0__cnt_temp1_i_0))
           (portRef D (instanceRef un3_cnt_temp2_1_SUM3))
           (portRef C (instanceRef un3_cnt_temp2_1_SUM2))
           (portRef A (instanceRef un3_cnt_temp2_1_SUM1))
           (portRef B (instanceRef cnt1Z0Z_0))
          ))
          (net cnt_temp1_1 (joined
           (portRef Q (instanceRef cnt_temp1_1__Q))
           (portRef C (instanceRef un3_cnt_temp2_1_SUM3))
           (portRef B (instanceRef un3_cnt_temp2_1_SUM2))
           (portRef B (instanceRef un3_cnt_temp2_1_SUM1))
           (portRef B (instanceRef cnt1Z0Z_1))
          ))
          (net cnt_temp1_2 (joined
           (portRef Q (instanceRef cnt_temp1_2__Q))
           (portRef B (instanceRef un3_cnt_temp2_1_SUM3))
           (portRef A (instanceRef un3_cnt_temp2_1_SUM2))
           (portRef B (instanceRef cnt1Z0Z_2))
          ))
          (net cnt_temp1_3 (joined
           (portRef Q (instanceRef cnt_temp1_3__Q))
           (portRef A (instanceRef un3_cnt_temp2_1_SUM3))
           (portRef B (instanceRef cnt1Z0Z_3))
          ))
          (net cnt2_c_iZ0Z_0 (joined
           (portRef Z (instanceRef cnt2_c_i_0))
           (portRef D (instanceRef cnt2_0__Q))
          ))
          (net cnt2_nZ0Z1 (joined
           (portRef Z (instanceRef cnt2_n1))
           (portRef D (instanceRef cnt2_1__Q))
          ))
          (net cnt2_nZ0Z2 (joined
           (portRef Z (instanceRef cnt2_n2))
           (portRef D (instanceRef cnt2_2__Q))
          ))
          (net un3_cnt_temp2_1_SUMZ0Z1 (joined
           (portRef Z (instanceRef un3_cnt_temp2_1_SUM1))
           (portRef D (instanceRef cnt_temp2_1__Q))
          ))
          (net un3_cnt_temp2_1_SUMZ0Z2 (joined
           (portRef Z (instanceRef un3_cnt_temp2_1_SUM2))
           (portRef D (instanceRef cnt_temp2_2__Q))
          ))
          (net un3_cnt_temp2_1_SUMZ0Z3 (joined
           (portRef Z (instanceRef un3_cnt_temp2_1_SUM3))
           (portRef D (instanceRef cnt_temp2_3__Q))
          ))
          (net un3_cnt_temp1_1_SUMZ0Z1 (joined
           (portRef Z (instanceRef un3_cnt_temp1_1_SUM1))
           (portRef D (instanceRef cnt_temp1_1__Q))
          ))
          (net un3_cnt_temp1_1_SUMZ0Z2 (joined
           (portRef Z (instanceRef un3_cnt_temp1_1_SUM2))
           (portRef D (instanceRef cnt_temp1_2__Q))
          ))
          (net un3_cnt_temp1_1_SUMZ0Z3 (joined
           (portRef Z (instanceRef un3_cnt_temp1_1_SUM3))
           (portRef D (instanceRef cnt_temp1_3__Q))
          ))
          (net clk_50M_c (joined
           (portRef O (instanceRef clk_50M_pad))
           (portRef A (instanceRef clk_50M_c_i))
           (portRef A (instanceRef cnt1Z0Z_0))
           (portRef A (instanceRef cnt1Z0Z_1))
           (portRef A (instanceRef cnt1Z0Z_2))
           (portRef A (instanceRef cnt1Z0Z_3))
           (portRef CK (instanceRef cnt_temp1_0__Q))
           (portRef CK (instanceRef cnt_temp1_1__Q))
           (portRef CK (instanceRef cnt_temp1_2__Q))
           (portRef CK (instanceRef cnt_temp1_3__Q))
          ))
          (net clk_50M (joined
           (portRef clk_50M)
           (portRef I (instanceRef clk_50M_pad))
          ))
          (net clk_100M_c (joined
           (portRef O (instanceRef clk_100M_pad))
           (portRef CK (instanceRef cnt2_0__Q))
           (portRef CK (instanceRef cnt2_1__Q))
           (portRef CK (instanceRef cnt2_2__Q))
           (portRef CK (instanceRef cnt2_3__Q))
          ))
          (net clk_100M (joined
           (portRef clk_100M)
           (portRef I (instanceRef clk_100M_pad))
          ))
          (net rst__c (joined
           (portRef O (instanceRef rst__pad))
           (portRef GSR (instanceRef GSR))
          ))
          (net rst_ (joined
           (portRef rst_)
           (portRef I (instanceRef rst__pad))
          ))
          (net cnt1_c_0 (joined
           (portRef Z (instanceRef cnt1Z0Z_0))
           (portRef I (instanceRef cnt1_pad_0))
          ))
          (net cnt1_0 (joined
           (portRef O (instanceRef cnt1_pad_0))
           (portRef (member cnt1 3))
          ))
          (net cnt1_c_1 (joined
           (portRef Z (instanceRef cnt1Z0Z_1))
           (portRef I (instanceRef cnt1_pad_1))
          ))
          (net cnt1_1 (joined
           (portRef O (instanceRef cnt1_pad_1))
           (portRef (member cnt1 2))
          ))
          (net cnt1_c_2 (joined
           (portRef Z (instanceRef cnt1Z0Z_2))
           (portRef I (instanceRef cnt1_pad_2))
          ))
          (net cnt1_2 (joined
           (portRef O (instanceRef cnt1_pad_2))
           (portRef (member cnt1 1))
          ))
          (net cnt1_c_3 (joined
           (portRef Z (instanceRef cnt1Z0Z_3))
           (portRef I (instanceRef cnt1_pad_3))
          ))
          (net cnt1_3 (joined
           (portRef O (instanceRef cnt1_pad_3))
           (portRef (member cnt1 0))
          ))
          (net cnt2_c_0 (joined
           (portRef Q (instanceRef cnt2_0__Q))
           (portRef A (instanceRef cnt2_c_i_0))
           (portRef A (instanceRef cnt2_n1))
           (portRef A (instanceRef cnt2_n2))
           (portRef A (instanceRef cnt2_n3))
           (portRef I (instanceRef cnt2_pad_0))
          ))
          (net cnt2_0 (joined
           (portRef O (instanceRef cnt2_pad_0))
           (portRef (member cnt2 3))
          ))
          (net cnt2_c_1 (joined
           (portRef Q (instanceRef cnt2_1__Q))
           (portRef B (instanceRef cnt2_n1))
           (portRef B (instanceRef cnt2_n2))
           (portRef B (instanceRef cnt2_n3))
           (portRef I (instanceRef cnt2_pad_1))
          ))
          (net cnt2_1 (joined
           (portRef O (instanceRef cnt2_pad_1))
           (portRef (member cnt2 2))
          ))
          (net cnt2_c_2 (joined
           (portRef Q (instanceRef cnt2_2__Q))
           (portRef C (instanceRef cnt2_n2))
           (portRef C (instanceRef cnt2_n3))
           (portRef I (instanceRef cnt2_pad_2))
          ))
          (net cnt2_2 (joined
           (portRef O (instanceRef cnt2_pad_2))
           (portRef (member cnt2 1))
          ))
          (net cnt2_c_3 (joined
           (portRef Q (instanceRef cnt2_3__Q))
           (portRef D (instanceRef cnt2_n3))
           (portRef I (instanceRef cnt2_pad_3))
          ))
          (net cnt2_3 (joined
           (portRef O (instanceRef cnt2_pad_3))
           (portRef (member cnt2 0))
          ))
          (net clk_50M_c_iZ0 (joined
           (portRef Z (instanceRef clk_50M_c_i))
           (portRef CK (instanceRef cnt_temp2_0__Q))
           (portRef CK (instanceRef cnt_temp2_1__Q))
           (portRef CK (instanceRef cnt_temp2_2__Q))
           (portRef CK (instanceRef cnt_temp2_3__Q))
          ))
          (net cnt_temp1_i_0 (joined
           (portRef Z (instanceRef cnt_temp1_0__cnt_temp1_i_0))
           (portRef D (instanceRef cnt_temp2_0__Q))
          ))
          (net cnt_temp2_i_0 (joined
           (portRef Z (instanceRef cnt_temp2_0__cnt_temp2_i_0))
           (portRef D (instanceRef cnt_temp1_0__Q))
          ))
         )
       )
    )
  )
  (design clock_edge (cellRef clock_edge (libraryRef work)))
)
