(edif if_single_decode
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2006 1 16 9 34 38)
      (author "Synplicity, Inc.")
      (program "Synplify Pro" (version "8.1.0, Build 532R"))
     )
   )
  (library LUCENT
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell OB (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
    (cell IB (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
    (cell ORCALUT4 (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
           (port D (direction INPUT))
           (port Z (direction OUTPUT))
         )
       )
    )
    (cell VLO (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port Z (direction OUTPUT))
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell if_single_decode (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port (array (rename addr_h "addr_H[2:0]") 3) (direction INPUT))
           (port CS1 (direction OUTPUT))
           (port CS2 (direction OUTPUT))
           (port CS3 (direction OUTPUT))
           (port CS4 (direction OUTPUT))
         )
         (contents
          (instance GND_0 (viewRef PRIM (cellRef VLO (libraryRef LUCENT)))          )
          (instance CS4_pad (viewRef PRIM (cellRef OB (libraryRef LUCENT)))          )
          (instance CS3_pad (viewRef PRIM (cellRef OB (libraryRef LUCENT)))          )
          (instance CS2_pad (viewRef PRIM (cellRef OB (libraryRef LUCENT)))          )
          (instance CS1_pad (viewRef PRIM (cellRef OB (libraryRef LUCENT)))          )
          (instance addr_H_pad_2 (viewRef PRIM (cellRef IB (libraryRef LUCENT)))          )
          (instance addr_H_pad_1 (viewRef PRIM (cellRef IB (libraryRef LUCENT)))          )
          (instance addr_H_pad_0 (viewRef PRIM (cellRef IB (libraryRef LUCENT)))          )
          (instance N_30_i (viewRef PRIM (cellRef ORCALUT4 (libraryRef LUCENT)))
           (property lut_function (string "(!C+(B+A))"))
          )
          (instance N_29_i (viewRef PRIM (cellRef ORCALUT4 (libraryRef LUCENT)))
           (property lut_function (string "(!C+(B+!A))"))
          )
          (instance N_28_i (viewRef PRIM (cellRef ORCALUT4 (libraryRef LUCENT)))
           (property lut_function (string "(C+(!B+A))"))
          )
          (instance N_27_i (viewRef PRIM (cellRef ORCALUT4 (libraryRef LUCENT)))
           (property lut_function (string "(C+(!B+!A))"))
          )
          (net GND (joined
           (portRef Z (instanceRef GND_0))
          ))
          (net addr_H_c_0 (joined
           (portRef O (instanceRef addr_H_pad_0))
           (portRef A (instanceRef N_27_i))
           (portRef A (instanceRef N_28_i))
           (portRef A (instanceRef N_29_i))
           (portRef A (instanceRef N_30_i))
          ))
          (net addr_H_0 (joined
           (portRef (member addr_h 2))
           (portRef I (instanceRef addr_H_pad_0))
          ))
          (net addr_H_c_1 (joined
           (portRef O (instanceRef addr_H_pad_1))
           (portRef B (instanceRef N_27_i))
           (portRef B (instanceRef N_28_i))
           (portRef B (instanceRef N_29_i))
           (portRef B (instanceRef N_30_i))
          ))
          (net addr_H_1 (joined
           (portRef (member addr_h 1))
           (portRef I (instanceRef addr_H_pad_1))
          ))
          (net addr_H_c_2 (joined
           (portRef O (instanceRef addr_H_pad_2))
           (portRef C (instanceRef N_27_i))
           (portRef C (instanceRef N_28_i))
           (portRef C (instanceRef N_29_i))
           (portRef C (instanceRef N_30_i))
          ))
          (net addr_H_2 (joined
           (portRef (member addr_h 0))
           (portRef I (instanceRef addr_H_pad_2))
          ))
          (net CS1_c (joined
           (portRef Z (instanceRef N_27_i))
           (portRef I (instanceRef CS1_pad))
          ))
          (net CS1 (joined
           (portRef O (instanceRef CS1_pad))
           (portRef CS1)
          ))
          (net CS2_c (joined
           (portRef Z (instanceRef N_28_i))
           (portRef I (instanceRef CS2_pad))
          ))
          (net CS2 (joined
           (portRef O (instanceRef CS2_pad))
           (portRef CS2)
          ))
          (net CS3_c (joined
           (portRef Z (instanceRef N_29_i))
           (portRef I (instanceRef CS3_pad))
          ))
          (net CS3 (joined
           (portRef O (instanceRef CS3_pad))
           (portRef CS3)
          ))
          (net CS4_c (joined
           (portRef Z (instanceRef N_30_i))
           (portRef I (instanceRef CS4_pad))
          ))
          (net CS4 (joined
           (portRef O (instanceRef CS4_pad))
           (portRef CS4)
          ))
         )
        (property CHIP4 (integer 3))
        (property CHIP3 (integer 2))
        (property CHIP2 (integer 5))
        (property CHIP1 (integer 4))
       )
    )
  )
  (design if_single_decode (cellRef if_single_decode (libraryRef work)))
)
