(edif state2_default
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2005 12 16 16 56 10)
      (author "Synplicity, Inc.")
      (program "Synplify Pro" (version "8.1.0, Build 532R"))
     )
   )
  (library LUCENT
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell OB (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
    (cell IB (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
    (cell FD1S3AX (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port D (direction INPUT))
           (port CK (direction INPUT))
           (port Q (direction OUTPUT))
         )
       )
    )
    (cell ORCALUT4 (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
           (port D (direction INPUT))
           (port Z (direction OUTPUT))
         )
       )
    )
    (cell GSR (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port GSR (direction INPUT))
         )
       )
    )
    (cell VLO (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port Z (direction OUTPUT))
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell state2_default (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port nrst (direction INPUT)
 )
           (port clk (direction INPUT)
 )
           (port i1 (direction INPUT)
 )
           (port i2 (direction INPUT)
 )
           (port o1 (direction OUTPUT))
           (port o2 (direction OUTPUT))
           (port err (direction OUTPUT))
         )
         (contents
          (instance GND (viewRef PRIM (cellRef VLO (libraryRef LUCENT)))          )
          (instance err_pad (viewRef PRIM (cellRef OB (libraryRef LUCENT)))          )
          (instance o2_pad (viewRef PRIM (cellRef OB (libraryRef LUCENT)))          )
          (instance o1_pad (viewRef PRIM (cellRef OB (libraryRef LUCENT)))          )
          (instance i2_pad (viewRef PRIM (cellRef IB (libraryRef LUCENT)))          )
          (instance i1_pad (viewRef PRIM (cellRef IB (libraryRef LUCENT)))          )
          (instance clk_pad (viewRef PRIM (cellRef IB (libraryRef LUCENT)))          )
          (instance nrst_pad (viewRef PRIM (cellRef IB (libraryRef LUCENT)))          )
          (instance CS_1__Q (viewRef PRIM (cellRef FD1S3AX (libraryRef LUCENT)))          )
          (instance CS_0__Q (viewRef PRIM (cellRef FD1S3AX (libraryRef LUCENT)))          )
          (instance GSR (viewRef PRIM (cellRef GSR (libraryRef LUCENT)))
          )
          (instance N_6_i (viewRef PRIM (cellRef ORCALUT4 (libraryRef LUCENT)))
           (property lut_function (string "(!D (!C A+C (!B+!A))+D (!C (!B !A)+C A))"))
          )
          (instance N_35_i (viewRef PRIM (cellRef ORCALUT4 (libraryRef LUCENT)))
           (property lut_function (string "(!D (!C (!B A)+C B)+D (!C (B+!A)+C A))"))
          )
          (instance errZ0 (viewRef PRIM (cellRef ORCALUT4 (libraryRef LUCENT)))
           (property lut_function (string "(C (B A))"))
          )
          (instance oZ0Z2 (viewRef PRIM (cellRef ORCALUT4 (libraryRef LUCENT)))
           (property lut_function (string "(B A)"))
          )
          (instance oZ0Z1 (viewRef PRIM (cellRef ORCALUT4 (libraryRef LUCENT)))
           (property lut_function (string "(B A)"))
          )
          (net GNDZ0 (joined
           (portRef Z (instanceRef GND))
          ))
          (net o1_9 (joined
           (portRef Q (instanceRef CS_0__Q))
           (portRef C (instanceRef N_6_i))
           (portRef C (instanceRef N_35_i))
           (portRef B (instanceRef errZ0))
           (portRef B (instanceRef oZ0Z1))
          ))
          (net N_6_iZ0 (joined
           (portRef Z (instanceRef N_6_i))
           (portRef D (instanceRef CS_0__Q))
          ))
          (net o2_9 (joined
           (portRef Q (instanceRef CS_1__Q))
           (portRef D (instanceRef N_6_i))
           (portRef D (instanceRef N_35_i))
           (portRef C (instanceRef errZ0))
           (portRef B (instanceRef oZ0Z2))
          ))
          (net N_35_iZ0 (joined
           (portRef Z (instanceRef N_35_i))
           (portRef D (instanceRef CS_1__Q))
          ))
          (net nrst_c (joined
           (portRef O (instanceRef nrst_pad))
           (portRef GSR (instanceRef GSR))
           (portRef A (instanceRef errZ0))
           (portRef A (instanceRef oZ0Z1))
           (portRef A (instanceRef oZ0Z2))
          ))
          (net nrst (joined
           (portRef nrst)
           (portRef I (instanceRef nrst_pad))
          ))
          (net clk_c (joined
           (portRef O (instanceRef clk_pad))
           (portRef CK (instanceRef CS_0__Q))
           (portRef CK (instanceRef CS_1__Q))
          ))
          (net clk (joined
           (portRef clk)
           (portRef I (instanceRef clk_pad))
          ))
          (net i1_c (joined
           (portRef O (instanceRef i1_pad))
           (portRef A (instanceRef N_6_i))
           (portRef A (instanceRef N_35_i))
          ))
          (net i1 (joined
           (portRef i1)
           (portRef I (instanceRef i1_pad))
          ))
          (net i2_c (joined
           (portRef O (instanceRef i2_pad))
           (portRef B (instanceRef N_6_i))
           (portRef B (instanceRef N_35_i))
          ))
          (net i2 (joined
           (portRef i2)
           (portRef I (instanceRef i2_pad))
          ))
          (net o1_c (joined
           (portRef Z (instanceRef oZ0Z1))
           (portRef I (instanceRef o1_pad))
          ))
          (net o1 (joined
           (portRef O (instanceRef o1_pad))
           (portRef o1)
          ))
          (net o2_c (joined
           (portRef Z (instanceRef oZ0Z2))
           (portRef I (instanceRef o2_pad))
          ))
          (net o2 (joined
           (portRef O (instanceRef o2_pad))
           (portRef o2)
          ))
          (net err_c (joined
           (portRef Z (instanceRef errZ0))
           (portRef I (instanceRef err_pad))
          ))
          (net err (joined
           (portRef O (instanceRef err_pad))
           (portRef err)
          ))
         )
        (property ERROR (integer 4))
        (property S2 (integer 2))
        (property S1 (integer 1))
        (property IDLE (integer 0))
       )
    )
  )
  (design state2_default (cellRef state2_default (libraryRef work)))
)
