(edif mux
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2006 1 10 23 27 13)
      (author "Synplicity, Inc.")
      (program "Synplify Pro" (version "8.1.0, Build 532R"))
     )
   )
  (library LUCENT
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell OB (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
    (cell IB (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
    (cell ORCALUT4 (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
           (port D (direction INPUT))
           (port Z (direction OUTPUT))
         )
       )
    )
    (cell PFUMX (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port ALUT (direction INPUT))
           (port BLUT (direction INPUT))
           (port C0 (direction INPUT))
           (port Z (direction OUTPUT))
         )
       )
    )
    (cell VLO (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port Z (direction OUTPUT))
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell mux (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port (array (rename en "en[1:0]") 2) (direction INPUT))
           (port a (direction INPUT)
 )
           (port b (direction INPUT)
 )
           (port c (direction INPUT)
 )
           (port d (direction INPUT)
 )
           (port mux_out (direction OUTPUT))
         )
         (contents
          (instance GND_0 (viewRef PRIM (cellRef VLO (libraryRef LUCENT)))          )
          (instance mux_out_pad (viewRef PRIM (cellRef OB (libraryRef LUCENT)))          )
          (instance d_pad (viewRef PRIM (cellRef IB (libraryRef LUCENT)))          )
          (instance c_pad (viewRef PRIM (cellRef IB (libraryRef LUCENT)))          )
          (instance b_pad (viewRef PRIM (cellRef IB (libraryRef LUCENT)))          )
          (instance a_pad (viewRef PRIM (cellRef IB (libraryRef LUCENT)))          )
          (instance en_pad_1 (viewRef PRIM (cellRef IB (libraryRef LUCENT)))          )
          (instance en_pad_0 (viewRef PRIM (cellRef IB (libraryRef LUCENT)))          )
          (instance mux_out_3_0 (viewRef PRIM (cellRef PFUMX (libraryRef LUCENT)))          )
          (instance mux_out_3_0_bm (viewRef PRIM (cellRef ORCALUT4 (libraryRef LUCENT)))
           (property lut_function (string "(!C A+C B)"))
          )
          (instance mux_out_3_0_am (viewRef PRIM (cellRef ORCALUT4 (libraryRef LUCENT)))
           (property lut_function (string "(!C A+C B)"))
          )
          (net GND (joined
           (portRef Z (instanceRef GND_0))
          ))
          (net mux_out_3_0_amZ0 (joined
           (portRef Z (instanceRef mux_out_3_0_am))
           (portRef BLUT (instanceRef mux_out_3_0))
          ))
          (net mux_out_3_0_bmZ0 (joined
           (portRef Z (instanceRef mux_out_3_0_bm))
           (portRef ALUT (instanceRef mux_out_3_0))
          ))
          (net en_c_0 (joined
           (portRef O (instanceRef en_pad_0))
           (portRef C0 (instanceRef mux_out_3_0))
          ))
          (net en_0 (joined
           (portRef (member en 1))
           (portRef I (instanceRef en_pad_0))
          ))
          (net en_c_1 (joined
           (portRef O (instanceRef en_pad_1))
           (portRef C (instanceRef mux_out_3_0_am))
           (portRef C (instanceRef mux_out_3_0_bm))
          ))
          (net en_1 (joined
           (portRef (member en 0))
           (portRef I (instanceRef en_pad_1))
          ))
          (net a_c (joined
           (portRef O (instanceRef a_pad))
           (portRef A (instanceRef mux_out_3_0_am))
          ))
          (net a (joined
           (portRef a)
           (portRef I (instanceRef a_pad))
          ))
          (net b_c (joined
           (portRef O (instanceRef b_pad))
           (portRef A (instanceRef mux_out_3_0_bm))
          ))
          (net b (joined
           (portRef b)
           (portRef I (instanceRef b_pad))
          ))
          (net c_c (joined
           (portRef O (instanceRef c_pad))
           (portRef B (instanceRef mux_out_3_0_am))
          ))
          (net c (joined
           (portRef c)
           (portRef I (instanceRef c_pad))
          ))
          (net d_c (joined
           (portRef O (instanceRef d_pad))
           (portRef B (instanceRef mux_out_3_0_bm))
          ))
          (net d (joined
           (portRef d)
           (portRef I (instanceRef d_pad))
          ))
          (net mux_out_c (joined
           (portRef Z (instanceRef mux_out_3_0))
           (portRef I (instanceRef mux_out_pad))
          ))
          (net mux_out (joined
           (portRef O (instanceRef mux_out_pad))
           (portRef mux_out)
          ))
         )
       )
    )
  )
  (design mux (cellRef mux (libraryRef work)))
)
