(edif decode_cmb2
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2006 1 10 3 11 17)
      (author "Synplicity, Inc.")
      (program "Synplify Pro" (version "8.1.0, Build 532R"))
     )
   )
  (library LUCENT
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell OB (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
    (cell IB (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
    (cell ORCALUT4 (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
           (port D (direction INPUT))
           (port Z (direction OUTPUT))
         )
       )
    )
    (cell VLO (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port Z (direction OUTPUT))
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell decode_cmb2 (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port (array (rename addr "addr[7:0]") 8) (direction INPUT))
           (port CS (direction INPUT)
 )
           (port cs1 (direction OUTPUT))
           (port cs2 (direction OUTPUT))
           (port cs3 (direction OUTPUT))
           (port cs4 (direction OUTPUT))
         )
         (contents
          (instance GND_0 (viewRef PRIM (cellRef VLO (libraryRef LUCENT)))          )
          (instance cs4_pad (viewRef PRIM (cellRef OB (libraryRef LUCENT)))          )
          (instance cs3_pad (viewRef PRIM (cellRef OB (libraryRef LUCENT)))          )
          (instance cs2_pad (viewRef PRIM (cellRef OB (libraryRef LUCENT)))          )
          (instance cs1_pad (viewRef PRIM (cellRef OB (libraryRef LUCENT)))          )
          (instance CS_pad (viewRef PRIM (cellRef IB (libraryRef LUCENT)))          )
          (instance addr_pad_7 (viewRef PRIM (cellRef IB (libraryRef LUCENT)))          )
          (instance addr_pad_6 (viewRef PRIM (cellRef IB (libraryRef LUCENT)))          )
          (instance cs4_1_i (viewRef PRIM (cellRef ORCALUT4 (libraryRef LUCENT)))
           (property lut_function (string "(!C+(!B+A))"))
          )
          (instance cs3_1_i (viewRef PRIM (cellRef ORCALUT4 (libraryRef LUCENT)))
           (property lut_function (string "(!C+(B+A))"))
          )
          (instance cs2_1_i (viewRef PRIM (cellRef ORCALUT4 (libraryRef LUCENT)))
           (property lut_function (string "(C+(!B+A))"))
          )
          (instance cs1_1_i (viewRef PRIM (cellRef ORCALUT4 (libraryRef LUCENT)))
           (property lut_function (string "(C+(B+A))"))
          )
          (net GND (joined
           (portRef Z (instanceRef GND_0))
          ))
          (net addr_0 (joined
           (portRef (member addr 7))
          ))
          (net addr_1 (joined
           (portRef (member addr 6))
          ))
          (net addr_2 (joined
           (portRef (member addr 5))
          ))
          (net addr_3 (joined
           (portRef (member addr 4))
          ))
          (net addr_4 (joined
           (portRef (member addr 3))
          ))
          (net addr_5 (joined
           (portRef (member addr 2))
          ))
          (net addr_c_6 (joined
           (portRef O (instanceRef addr_pad_6))
           (portRef B (instanceRef cs1_1_i))
           (portRef B (instanceRef cs2_1_i))
           (portRef B (instanceRef cs3_1_i))
           (portRef B (instanceRef cs4_1_i))
          ))
          (net addr_6 (joined
           (portRef (member addr 1))
           (portRef I (instanceRef addr_pad_6))
          ))
          (net addr_c_7 (joined
           (portRef O (instanceRef addr_pad_7))
           (portRef C (instanceRef cs1_1_i))
           (portRef C (instanceRef cs2_1_i))
           (portRef C (instanceRef cs3_1_i))
           (portRef C (instanceRef cs4_1_i))
          ))
          (net addr_7 (joined
           (portRef (member addr 0))
           (portRef I (instanceRef addr_pad_7))
          ))
          (net CS_c (joined
           (portRef O (instanceRef CS_pad))
           (portRef A (instanceRef cs1_1_i))
           (portRef A (instanceRef cs2_1_i))
           (portRef A (instanceRef cs3_1_i))
           (portRef A (instanceRef cs4_1_i))
          ))
          (net CS (joined
           (portRef CS)
           (portRef I (instanceRef CS_pad))
          ))
          (net cs1_c (joined
           (portRef Z (instanceRef cs1_1_i))
           (portRef I (instanceRef cs1_pad))
          ))
          (net cs1 (joined
           (portRef O (instanceRef cs1_pad))
           (portRef cs1)
          ))
          (net cs2_c (joined
           (portRef Z (instanceRef cs2_1_i))
           (portRef I (instanceRef cs2_pad))
          ))
          (net cs2 (joined
           (portRef O (instanceRef cs2_pad))
           (portRef cs2)
          ))
          (net cs3_c (joined
           (portRef Z (instanceRef cs3_1_i))
           (portRef I (instanceRef cs3_pad))
          ))
          (net cs3 (joined
           (portRef O (instanceRef cs3_pad))
           (portRef cs3)
          ))
          (net cs4_c (joined
           (portRef Z (instanceRef cs4_1_i))
           (portRef I (instanceRef cs4_pad))
          ))
          (net cs4 (joined
           (portRef O (instanceRef cs4_pad))
           (portRef cs4)
          ))
         )
        (property chip4_decode (integer 3))
        (property chip3_decode (integer 2))
        (property chip2_decode (integer 1))
        (property chip1_decode (integer 0))
       )
    )
  )
  (design decode_cmb2 (cellRef decode_cmb2 (libraryRef work)))
)
